.talent {
  padding-bottom: 15px;
  padding-top: 15px;
}
.talent-body,
.talent-head {
  padding: 0 15px;
}
.talent-head {
  min-height: 50px;
  padding-bottom: 20px;
  position: relative;
  .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100px;
    float: left;
    margin-right: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 100px;
    }
  }
  .info {
    overflow: hidden;
    margin-right: 60px;
    line-height: 1.6;
    .name,
    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
    }
    .name {
      font-size: 15px;
    }
    .description {
      color: #737373;
      font-size: 13px;
    }
  }
  .btn-fo,
  .btn-unfo {
    width: 50px;
    height: 30px;
    float: right;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
  .btn-fo {
    background-image: url(../module/images/following_icon@2x.png);
  }
  .btn-unfo {
    background-image: url(../module/images/unfollow_icon@2x.png);
  }
}
.talent-list {
  overflow: hidden;
  .item {
    width: 33.33333%;
    padding-top: 42.318840579710143%;
    float: left;
    position: relative;
    .ele {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:nth-child(even){
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -2px;
        z-index: 2;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        box-shadow: -2px 0 0 #fff, 2px 0 0 #fff;
      }
    }
  }
}