<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://xmi.us7.list-manage2.com/subscribe/post?u=68cf63efdc7ee87f86e2d2a7a&amp;id=5a11b08f85" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    Hey there! I write a short, weekly<em>-ish</em> newsletter about 
    <strong>building awesome software</strong> and I'd love to have you as a reader.
    <div>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"><br/>
      <small>No spam, no selling your address. One click unsubscribe.</small>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->