<strike>Stalk</strike> Follow me:
<div id="stalker">
  <a title="gindis on Github" href="//github.com/gindis/"><i class="icon-github-sign"></i></a>
  <!-- <a title="gindis on Hacker News" href="//news.ycombinator.com/user?id=gindis">
    <i class="icon-sign-blank"></i>
    <span class="icon-overlay icon-hn">Y</span>
  </a> -->
  <a title="gindis on Instagram" href="//instagram.com/gindis_"><i class="icon-instagram"></i></a>
  <a title="gindis_ on Twitter" href="//twitter.com/gindis_"><i class="icon-twitter-sign"></i></a>
  <a title="RSS feed" id="rss" href="/atom.xml"><i class="icon-rss-sign"></i></a>
</div>