html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html, body, h1, h2, ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a:link, a:visited {
  text-decoration: none; }

.container {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }
  .container .content {
    width: 480px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative; }
    .container .content .head {
      height: 130px;
      position: relative; }
      .container .content .head .logo {
        width: 228px;
        height: 84px;
        background-image: url(../img/logo.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        text-indent: -9999px;
        position: absolute;
        left: 50%;
        margin-left: -114px;
        bottom: -10px;
        z-index: 7; }
    .container .content .main {
      position: relative;
      overflow: hidden; }
      .container .content .main .logo .icon {
        background: url(../img/juju_rr.png) no-repeat; }
      .container .content .main .share {
        width: 290px;
        margin: 0 auto; }
        .container .content .main .share .i {
          width: 172px;
          height: 66px;
          background-image: url(../img/logo.png);
          backgrond-position: center center;
          background-repeat: no-repeat;
          background-position: 0 -71px;
          margin: 0 auto -11px;
          position: relative;
          z-index: 8;
          background-size: 172px 134px; }
        .container .content .main .share .btn {
          display: block;
          width: 100%;
          height: 66px;
          line-height: 66px;
          background-color: #00b1ff;
          /*border: 1px #00b1ff solid;
          color: #00b1ff;*/
          text-align: center;
          font-size: 24px;
          color: #fff;
          border-radius: 66px;
          -webkit-border-radius: 66px; }
    .container .content .foot {
      height: 180px;
      color: #fff; }
      .container .content .foot .go {
        font-size: 26px;
        text-align: center;
        background-color: #00b1ff;
        height: 78px;
        line-height: 78px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; }
        .container .content .foot .go a {
          display: block;
          width: 100%;
          height: 100%;
          color: #fff; }
      .container .content .foot .copyright {
        font-size: 20px;
        text-align: center;
        color: #bcc6d5;
        padding-top: 40px; }
  .container .main .logo, .container .sidebar .logo {
    width: 100%;
    /*width: 240px;*/
    /*margin: 70px auto 60px;*/ }
    .container .main .logo .icon, .container .sidebar .logo .icon {
      height: 251px; }
    .container .main .logo .slogan, .container .sidebar .logo .slogan {
      color: #999;
      text-align: center;
      font-size: 20px;
      padding-top: 16px;
      display: none; }
  .container .sidebar {
    width: 460px;
    height: 570px;
    margin-left: 40px;
    overflow: hidden; }
    .container .sidebar .channel {
      overflow: hidden;
      padding-left: 8px;
      padding-right: 8px; }
      .container .sidebar .channel .item {
        width: 50%;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box; }
      .container .sidebar .channel .btn {
        width: 200px;
        height: 75px;
        margin: 0 auto 20px;
        background-color: #68c65d;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        display: block;
        color: #fff; }
        .container .sidebar .channel .btn b {
          width: 45px;
          height: 45px;
          float: left;
          margin: 15px 10px 0 25px;
          background: url(../img/market_icon.png) no-repeat; }
        .container .sidebar .channel .btn .a {
          background-position: 0 -45px; }
        .container .sidebar .channel .btn .platform {
          padding-top: 17px;
          padding-bottom: 5px;
          font-size: 16px; }
        .container .sidebar .channel .btn .free {
          font-size: 18px; }
      .container .sidebar .channel .qrcode {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        overflow: hidden;
        background-color: #eee;
        border-radius: 20px;
        -webkit-border-radius: 20px; }
        .container .sidebar .channel .qrcode img {
          width: 100%; }

.columns {
  float: left;
  display: inline; }

.promotion-bar {
  width: 100%;
  height: 4.8rem;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  display: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: .8rem; }
  .promotion-bar .ico {
    width: 3.3rem;
    height: 3.3rem;
    overflow: hidden;
    float: left;
    margin-right: .5rem;
    background-image: url(../img/app_icon.png);
    background-repeat: no-repeat;
    background-size: contain; }
  .promotion-bar .detail {
    overflow: hidden; }
    .promotion-bar .detail .name {
      font-size: 1.4rem;
      padding-bottom: .2rem;
      padding-top: .2rem; }
    .promotion-bar .detail .slogan {
      font-size: 1.2rem; }
    .promotion-bar .detail .btn {
      position: absolute;
      height: 3.4rem;
      line-height: 3.4rem;
      border-radius: 3.4rem;
      -webkit-border-radius: 3.4rem;
      right: 1rem;
      top: 50%;
      margin-top: -1.7rem;
      background-color: #00b3ff;
      color: #fff;
      padding-left: 3rem;
      padding-right: 1rem;
      font-size: 1.4rem; }
      .promotion-bar .detail .btn b {
        width: 14px;
        height: 14px;
        float: left;
        background-image: url(../img/jicon.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        margin-top: 1.1rem;
        margin-left: -1.8rem; }

/* Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 768px; }
    .container .sidebar {
      width: 278px;
      height: 342px;
      margin-left: 10px; }
      .container .sidebar .logo .icon {
        height: 151px;
        background-size: contain; }
      .container .sidebar .logo .slogan {
        font-size: 14px;
        padding-top: 16px; }
      .container .sidebar .channel {
        padding-left: 4px;
        padding-right: 4px; }
        .container .sidebar .channel .btn {
          width: 120px;
          height: 38px;
          margin: 0 auto 10px;
          background-color: #68c65d;
          border-radius: 10px;
          -webkit-border-radius: 10px; }
          .container .sidebar .channel .btn b {
            width: 24px;
            height: 24px;
            margin: 7px 5px 0 15px;
            background-size: 24px 45px; }
          .container .sidebar .channel .btn .a {
            background-position: 0 -23px; }
          .container .sidebar .channel .btn .platform {
            padding-top: 7px;
            padding-bottom: 2px;
            font-size: 10px; }
          .container .sidebar .channel .btn .free {
            font-size: 12px; }
        .container .sidebar .channel .qrcode {
          width: 130px;
          height: 130px;
          border-radius: 10px;
          -webkit-border-radius: 10px; } }

/* Design for a width of 320px */
@media only screen and (max-width: 767px) {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none; }
  .container {
    width: 100%; }
    .container .content {
      width: 100%;
      margin: 0 auto;
      min-width: 32rem; }
      .container .content .head {
        height: 55px; }
        .container .content .head .logo {
          width: 114px;
          height: 42px;
          background-size: 114px 89px;
          margin-left: -57px;
          bottom: -5px; }
      .container .content .main .share {
        width: 190px; }
        .container .content .main .share .i {
          width: 114px;
          height: 42px;
          background-size: 114px 89px;
          background-position: 0 -47px;
          margin-bottom: -5px; }
        .container .content .main .share .btn {
          height: 45px;
          line-height: 45px;
          font-size: 16px; }
  .sidebar {
    display: none; }
  .promotion-bar {
    display: block; } }

.nowrap-multi {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

/* Design for a width of 480px */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .container {
    width: 48rem; }
    .container .content {
      margin: 0 auto;
      min-width: 32rem; } }

.pie text {
  fill: white; }

.ani {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.slideDown {
  -webkit-animation-name: slideDown;
  -ms-animation-name: slideDown;
  animation-name: slideDown; }

.slideDownRetourn {
  -webkit-animation-name: slideDownRetourn;
  -ms-animation-name: slideDownRetourn;
  animation-name: slideDownRetourn; }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%); }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(100%); } }

@-ms-keyframes slideDown {
  0% {
    -ms-transform-origin: 0 0;
    -ms-transform: translateY(0%); }

  100% {
    -ms-transform-origin: 0 0;
    -ms-transform: translateY(100%); } }

@keyframes slideDown {
  0% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }

  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); } }

@-webkit-keyframes slideDownRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(100%); }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%); } }

@-ms-keyframes slideDownRetourn {
  0% {
    -ms-transform-origin: 0 0;
    -ms-transform: translateY(100%); }

  100% {
    -ms-transform-origin: 0 0;
    -ms-transform: translateY(0%); } }

@keyframes slideDownRetourn {
  0% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }

  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

.mod-share {
  width: 100%;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10001;
  color: #000;
  border-top: #e7eff8 1px solid; }
  .mod-share .tit {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    position: relative; }
  .mod-share .share-way {
    overflow: hidden; }
    .mod-share .share-way .item {
      display: block;
      float: left;
      font-size: 16px;
      width: 33.33333%;
      margin-bottom: 30px;
      color: #000;
      text-align: center; }
      .mod-share .share-way .item b {
        width: 57px;
        height: 57px;
        background-image: url(../img/share_btn.png);
        background-repeat: no-repeat;
        background-size: 57px 228px;
        display: block;
        margin: 0 auto 10px; }
    .mod-share .share-way .fri b {
      background-position: 0 -57px; }
    .mod-share .share-way .timeline b {
      width: 63px;
      height: 62px;
      background-image: url(../img/timeline.png);
      background-repeat: no-repeat;
      background-size: 63px 62px;
      margin-top: -2px;
      position: relative;
      z-index: 2; }
    .mod-share .share-way .renren b {
      background-position: 0 -114px; }
    .mod-share .share-way .qzone b {
      background-position: 0 -171px; }
  .mod-share .close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*    &:hover,
    &:focus {
      outline: none;
    }*/ }
    .mod-share .close::before, .mod-share .close::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      left: 50%;
      background: #6e6e6e; }
    .mod-share .close::before {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg); }
    .mod-share .close::after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }

body {
  color: #fff;
  background-color: #000; }

.container .content .main {
  background-color: #05224a;
  padding-bottom: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
.container .content .uattr {
  position: relative;
  z-index: 4; }
  .container .content .uattr .tit {
    height: 42px;
    padding: 70px 10px 60px; }
    .container .content .uattr .tit h2 {
      height: 100%;
      text-align: center;
      font-weight: 200;
      font-size: 40px;
      /*background: url(../img/attr_tit.png) no-repeat center center;*/ }
  .container .content .uattr .chart {
    height: 270px;
    text-align: center;
    margin-bottom: 30px;
    position: relative; }
    .container .content .uattr .chart .attr-chart {
      margin: 0 auto;
      /*background-color: #0269a5;*/
      width: 270px;
      height: 270px;
      border-radius: 270px;
      -webkit-border-radius: 270px; }
    .container .content .uattr .chart .avatar {
      width: 120px;
      height: 120px;
      border-radius: 120px;
      -webkit-border-radius: 120px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -62px 0 0 -62px;
      /*background-color: #05224a;*/ }
      .container .content .uattr .chart .avatar img {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        -webkit-border-radius: 120px;
        border: 2px solid #fff; }
  .container .content .uattr .user {
    margin: 0 30px 90px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }
    .container .content .uattr .user .name, .container .content .uattr .user .signature {
      text-align: center; }
    .container .content .uattr .user .name {
      font-size: 20px;
      border-bottom: #fff 1px solid;
      border-bottom: rgba(255, 255, 255, 0.15) 1px solid;
      padding: 20px 0;
      letter-spacing: 10px;
      font-weight: 300; }
    .container .content .uattr .user .signature {
      padding: 20px 0;
      letter-spacing: 2px;
      font-size: 18px;
      line-height: 26px; }
    .container .content .uattr .user .attr {
      padding-top: 50px; }
      .container .content .uattr .user .attr ul {
        list-style: none;
        overflow: hidden;
        text-align: center;
        margin: 0;
        padding: 0; }
      .container .content .uattr .user .attr li {
        width: 42px;
        display: inline-block;
        font-size: 12px;
        text-align: center; }
        .container .content .uattr .user .attr li b {
          width: 34px;
          height: 34px;
          display: block;
          margin: 0 auto 10px;
          background: url(../img/attr_icon.png) no-repeat; }
      .container .content .uattr .user .attr .a2 b {
        background-position: 0 -34px; }
      .container .content .uattr .user .attr .a3 b {
        background-position: 0 -68px; }
      .container .content .uattr .user .attr .a4 b {
        background-position: 0 -102px; }
      .container .content .uattr .user .attr .a5 b {
        background-position: 0 -136px; }
      .container .content .uattr .user .attr .a6 b {
        background-position: 0 -170px; }
      .container .content .uattr .user .attr .a7 b {
        background-position: 0 -204px; }
      .container .content .uattr .user .attr .a8 b {
        background-position: 0 -238px; }
      .container .content .uattr .user .attr .a9 b {
        background-position: 0 -272px; }
.container .sidebar {
  border: #292b30 1px solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 130px; }
  .container .sidebar .icon {
    background-image: url(../img/juju_black.gif);
    background-repeat: no-repeat; }
.container .surface-shadow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }
  .container .surface-shadow .shadow-cover {
    width: 480px;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -webkit-transform: scale(1.02); }
  .container .surface-shadow .shadow-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 50, 73, 0.6); }

.promotion-bar {
  background-color: rgba(0, 0, 0, 0.3); }

/* Design for a width of 320px */
@media only screen and (max-width: 767px) {
  body {
    background-color: #05224a; }
  .container {
    width: 100%; }
    .container .content {
      width: 100%;
      margin: 0 auto;
      min-width: 32rem; }
      .container .content .head {
        background-color: #000; }
      .container .content .main .uattr .tit {
        height: 21px;
        padding: 35px 5px 30px; }
        .container .content .main .uattr .tit h2 {
          font-size: 18px;
          background-size: 129px 23px;
          display: none; }
      .container .content .main .uattr .chart {
        height: 180px;
        margin-bottom: 15px; }
        .container .content .main .uattr .chart .attr-chart {
          width: 180px;
          height: 180px;
          border-radius: 180px;
          -webkit-border-radius: 180px; }
        .container .content .main .uattr .chart .avatar {
          width: 80px;
          height: 80px;
          border-radius: 80px;
          -webkit-border-radius: 80px;
          margin: -42px 0 0 -42px; }
          .container .content .main .uattr .chart .avatar img {
            width: 80px;
            height: 80px;
            border-radius: 80px;
            -webkit-border-radius: 80px; }
      .container .content .main .uattr .user {
        margin: 0 10px 45px; }
        .container .content .main .uattr .user .name {
          padding: 10px 0;
          font-size: 18px;
          letter-spacing: 5px; }
        .container .content .main .uattr .user .signature {
          padding: 10px 0;
          font-size: 16px; }
        .container .content .main .uattr .user .attr {
          padding-top: 25px; }
          .container .content .main .uattr .user .attr li {
            /*width: 40px;*/
            width: 28px;
            font-size: 10px; }
            .container .content .main .uattr .user .attr li b {
              width: 20px;
              height: 20px;
              margin-bottom: 5px;
              background-size: 20px 180px; }
          .container .content .main .uattr .user .attr .a2 b {
            background-position: 0 -20px; }
          .container .content .main .uattr .user .attr .a3 b {
            background-position: 0 -40px; }
          .container .content .main .uattr .user .attr .a4 b {
            background-position: 0 -60px; }
          .container .content .main .uattr .user .attr .a5 b {
            background-position: 0 -80px; }
          .container .content .main .uattr .user .attr .a6 b {
            background-position: 0 -100px; }
          .container .content .main .uattr .user .attr .a7 b {
            background-position: 0 -120px; }
          .container .content .main .uattr .user .attr .a8 b {
            background-position: 0 -140px; }
          .container .content .main .uattr .user .attr .a9 b {
            background-position: 0 -160px; }
      .container .content .foot {
        height: 140px;
        display: none;
        background-color: #000; }
        .container .content .foot .go {
          font-size: 13px;
          height: 40px;
          line-height: 40px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px; }
        .container .content .foot .copyright {
          font-size: 10px;
          padding-top: 20px; }
  .sidebar {
    display: none; }
  .promotion-bar {
    display: block; }
    .promotion-bar .slogan {
      color: #eee; } }

.head, .promotion-bar, .share {
  display: none; }
