.post .post-meta .avatar, .post .post-list .post-item .avatar {
  width: 48px;
  height: 48px;
  float: left;
  overflow: hidden;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  margin-right: 10px;
}
.post .post-meta .avatar img, .post .post-list .post-item .avatar img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  -webkit-border-radius: 48px;
}
.post .post-meta {
  padding: 15px;
  overflow: hidden;
}
.post .post-meta .name {
  line-height: 1.5;
  overflow: hidden;
  font-size: 20px;
  color: #18242f;
}
.post .post-meta .origin {
  color: #999;
  font-size: 14px;
}
.post .post-meta .time {
  float: right;
  color: #a7b4c6;
}
.post .post-meta .info {
  overflow: hidden;
  line-height: 1.4;
  padding-top: 2px;
}
.post .post-meta .info .sname {
  font-size: 22px;
  color: #333;
}
.post .post-meta .info .sponsor {
  font-size: 18px;
  color: #999;
}
.post .post-content img {
  display: block;
}
.post .post-trends {
  /* padding: 15px;*/
}
.post .post-trends .pag {
  padding: 10px 15px 0;
}
.post .post-trends .pag .tag {
  display: inline-block;
  line-height: 1.5;
  color: #000;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 44px;
}
.post .post-trends .pag .tag b {
  width: 34px;
  height: 34px;
  margin-right: 4px;
  position: absolute;
  left: 0;
  background: url(../img/attr_icon.png) no-repeat;
}
.post .post-trends .pag .a1 {
  color: #229aef;
}
.post .post-trends .pag .a2 {
  color: #adb941;
}
.post .post-trends .pag .a2 b {
  background-position: 0 -34px;
}
.post .post-trends .pag .a3 {
  color: #cf424d;
}
.post .post-trends .pag .a3 b {
  background-position: 0 -68px;
}
.post .post-trends .pag .a4 {
  color: #6bc562;
}
.post .post-trends .pag .a4 b {
  background-position: 0 -102px;
}
.post .post-trends .pag .a5 {
  color: #9541b7;
}
.post .post-trends .pag .a5 b {
  background-position: 0 -136px;
}
.post .post-trends .pag .a6 {
  color: #00bdb4;
}
.post .post-trends .pag .a6 b {
  background-position: 0 -170px;
}
.post .post-trends .pag .a7 {
  color: #d56b48;
}
.post .post-trends .pag .a7 b {
  background-position: 0 -204px;
}
.post .post-trends .pag .m1 {
  color: #229aef;
}
.post .post-trends .pag .m1 b {
  background: url(../img/jicon.png) no-repeat;
  background-position: 0 -60px;
  color: #00b3ff;
}
.post .post-trends .ssay-wrap {
  background-color: #efefef;
  color: #999;
}
.post .post-trends .ssay-wrap .ssay {
  line-height: 1.5;
  padding: 0 15px 10px;
}
.post .post-trends .ssay-wrap .ssay .i {
  color: #333;
}
.post .post-trends .like .i, .post .post-trends .say .i {
  width: 34px;
  height: 34px;
  float: left;
  background: url(../img/jicon.png) no-repeat;
  margin-right: 10px;
  margin-top: -1px;
}
.post .post-trends .like {
  line-height: 28px;
  color: #a6b3c5;
}
.post .post-trends .like .i {
  background-position: -54px 0;
}
.post .post-trends .say {
  line-height: 28px;
  padding: 15px 0 0 34px;
  margin: 0 15px;
}
.post .post-trends .say .i {
  background-position: -40px -60px;
  margin-left: -34px;
}
.post .post-share {
  padding: 40px 0 30px;
}
.post .post-count {
  font-size: 20px;
  height: 20px;
  padding: 20px 0;
  text-align: center;
  position: relative;
}
.post .post-count span {
  background-color: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 10;
  color: #a7b4c7;
}
.post .post-count:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e7eff8;
  position: absolute;
  left: 0;
  top: 50%;
}
.post .post-list .post-item {
  border-bottom: #e7eff8 1px solid;
  padding: 30px 15px;
  overflow: hidden;
  font-size: 20px;
}
.post .post-list .post-item .post-body {
  overflow: hidden;
}
.post .post-list .post-item .post-head {
  padding-top: 6px;
  padding-bottom: 10px;
  position: relative;
}
.post .post-list .post-item .post-head .author {
  color: #2aadff;
}
.post .post-list .post-item .post-head .meta {
  color: #a7b4c6;
  font-size: 14px;
  margin-top: 3px;
}
.post .post-list .post-item .post-head .like {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 30px;
  color: #0ab0f5;
  border: #0ab0f5 1px solid;
  border-radius: 30px;
  padding: 4px 10px 3px;
}
.post .post-list .post-item .post-head .like b {
  width: 30px;
  height: 30px;
  float: left;
  background-image: url(../img/jicon.png);
  background-position: -25px -25px;
  margin-right: 6px;
  background-repeat: no-repeat;
}
.post .post-list .post-item .post-body-inner {
  line-height: 24px;
}
.post .post-list .post-item .post-body-inner .reply {
  color: #b2b2b2;
  display: block;
}
.post .post-list .post-item .post-body-inner img {
  display: block;
  width: 90px;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .forword .content .head {
    height: 0;
  }
  .forword .post-content {
    background-color: #efefef;
    padding-top: 11px;
  }

  .ssay-wrap {
    padding-top: 10px;
  }
  .ssay-wrap .ssay {
    padding: 5px 11px 10px !important;
  }

  .post .post-meta .avatar, .post .post-list .post-item .avatar {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    margin-right: 5px;
  }
  .post .post-meta .avatar img, .post .post-list .post-item .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
  }
  .post .post-meta {
    padding: 5px 11px;
  }
  .post .post-meta .origin {
    color: #999;
    font-size: 10px;
  }
  .post .post-meta .name {
    line-height: 1.5;
    font-size: 16px;
  }
  .post .post-meta .info {
    line-height: 1.4;
    padding-top: 2px;
  }
  .post .post-meta .info .sname {
    font-size: 13px;
  }
  .post .post-meta .info .sponsor {
    font-size: 11px;
  }
  .post .post-content .post-img {
    padding: 0 11px;
  }
  .post .post-trends {
    /*padding: 5px 11px;*/
    font-size: 14px;
  }
  .post .post-trends .pag {
    padding: 0 10px;
  }
  .post .post-trends .pag .tag {
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 25px;
  }
  .post .post-trends .pag .tag b {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: 20px 180px;
  }
  .post .post-trends .pag .a2 b {
    background-position: 0 -20px;
  }
  .post .post-trends .pag .a3 b {
    background-position: 0 -40px;
  }
  .post .post-trends .pag .a4 b {
    background-position: 0 -60px;
  }
  .post .post-trends .pag .a5 b {
    background-position: 0 -80px;
  }
  .post .post-trends .pag .a6 b {
    background-position: 0 -100px;
  }
  .post .post-trends .pag .a7 b {
    background-position: 0 -120px;
  }
  .post .post-trends .pag .m1 b {
    background-size: 57px 57px;
    background-position: 0 -34px;
  }
  .post .post-trends .like .i, .post .post-trends .say .i {
    width: 20px;
    height: 20px;
    background-size: 50px 50px;
    margin-top: 3px;
  }
  .post .post-trends .like {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .post .post-trends .like .i {
    background-position: -27px 0;
  }
  .post .post-trends .say {
    line-height: 20px;
    padding: 5px 0 5px 22px;
    margin: 0 11px;
  }
  .post .post-trends .say .i {
    margin-right: 0;
    background-position: -20px -30px;
    margin-left: -22px;
  }
  .post .post-share {
    padding: 30px 0;
  }
  .post .post-count {
    padding: 0;
    height: 0;
    font-size: 11px;
    color: #b2b2b2;
  }
  .post .post-count span {
    height: 20px;
    border: 1px solid #c9cacb;
    line-height: 22px;
    position: relative;
    top: -10px;
    border-radius: 20px;
    color: #b2b2b2;
    font-style: italic;
    padding: 5px 10px 4px;
  }
  .post .post-count span i {
    padding: 0 7px;
    font-style: normal;
  }
  .post .post-count:after {
    background-color: #c9cacb;
  }
  .post .post-list .post-item {
    padding: 20px 11px;
    font-size: 14px;
    background-color: #fafafa;
    border-color: #c9cacb;
  }
  .post .post-list .post-item .post-head {
    padding-bottom: 5px;
    padding-top: 2px;
  }
  .post .post-list .post-item .post-head .author {
    color: #333;
  }
  .post .post-list .post-item .post-head .byline {
    padding-bottom: 2px;
  }
  .post .post-list .post-item .post-head .meta {
    font-size: 10px;
    padding-bottom: 10px;
    margin-top: -1px;
    color: #b2b2b2;
  }
  .post .post-list .post-item .post-head .like {
    line-height: 15px;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 25px;
  }
  .post .post-list .post-item .post-head .like b {
    width: 15px;
    height: 15px;
    background-size: 50px 50px;
    background-position: -13px -13px;
    margin-right: 3px;
    top: 2px;
    position: relative;
  }
  .post .post-list .post-item .post-body-inner {
    line-height: 20px;
  }
}
