@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
body,
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  font-size: 100px;
}

body {
  color: #50484b;
}

li {
  list-style: none;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.page {
  min-height: 80px;
}

.bimg {
  display: block;
}

.border-t {
  border-top: 1px solid #f5f5f5;
}

.border-b {
  border-bottom: 1px solid #f5f5f5;
}

.border-tb {
  border-top: #f5f5f5 1px solid;
  border-bottom: #f5f5f5 1px solid;
  background-image: none;
}

.border-l {
  border-left: 1px solid #f5f5f5;
}

.border-r {
  border-right: 1px solid #f5f5f5;
}

.border {
  border: 1px solid #f5f5f5;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .border {
    position: relative;
    border: 0;
  }

  .border-t,
  .border-b,
  .border-l,
  .border-r,
  .border-tb {
    border: 0;
  }

  .border:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #f5f5f5;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
  }

  .border-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #f5f5f5), to(#f5f5f5));
  }

  .border-b {
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #f5f5f5), to(#f5f5f5));
  }

  .border-t,
  .border-b {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
  }

  .border-tb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #f5f5f5), to(#f5f5f5)) left top repeat-x, -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #f5f5f5), to(#f5f5f5)) left bottom repeat-x;
    -webkit-background-size: 100% 1px;
  }

  .border-l {
    background-position: left top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #f5f5f5), to(#f5f5f5));
  }

  .border-r {
    background-position: right top;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.5, transparent), color-stop(0.5, #f5f5f5), to(#f5f5f5));
  }

  .border-l,
  .border-r {
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%;
  }
}
.radio input {
  display: inline-block;
  width: 24px;
  height: 1px;
  position: relative;
  overflow: visible;
  border: 0;
  background: 0 0;
  -webkit-appearance: none;
  outline: 0;
  margin-right: 8px;
  vertical-align: middle;
}
.radio input:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #dfe0e1;
  border-radius: 13px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  left: 0;
  top: -14px;
}
.radio input:checked:after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: #1cb7f0;
  border-radius: 7px;
  position: absolute;
  left: 6px;
  top: -8px;
}

.btn-wrap {
  padding: 20px 15px;
}

.btn,
.btn-lg,
.btn-s {
  height: 30px;
  line-height: 30px;
  padding: 0 13px;
  min-width: 55px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #0079ff;
  font-size: 15px;
  background-color: #fa7829;
  border-radius: 3px;
  vertical-align: top;
  color: #fff;
  -webkit-box-sizing: border-box;
  border: 1px solid #fa7829;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn:focus,
.btn-lg:focus,
.btn-s:focus {
  outline: none;
}

.btn-lg {
  font-size: 18px;
  height: 44px;
  line-height: 42px;
  display: block;
  width: 100%;
  border-radius: 5px;
}

.btn-big {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  border: none;
  display: block;
}
.btn-big:focus {
  outline: none;
}

.btn.disabled,
.disabled.btn-lg,
.disabled.btn-s,
.btn:disabled,
.btn-lg:disabled,
.btn-s:disabled {
  border: 1px solid #cacccd;
  color: #ccc;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fff), to(#fafafa));
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn-group,
.btn-group-tiled {
  display: -webkit-box;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-group button,
.btn-group-tiled button {
  display: block;
  -webkit-box-flex: 1;
}

.btn-group button {
  width: 100%;
  color: #50484b;
  line-height: 50px;
  height: 48px;
  text-align: center;
  font-size: 16px;
  border-right: 1px #c8c7cc solid;
  border-top: 1px solid #c8c7cc;
}
.btn-group button:last-child {
  border-right: 0;
  border-bottom-right-radius: 6px;
}
.btn-group button:focus {
  outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .btn-group button {
    position: relative;
    border: 0;
  }
  .btn-group button:before, .btn-group button:after {
    content: "";
    position: absolute;
    -webkit-transform-origin: right top;
  }
  .btn-group button:before {
    width: 0;
    border-right: 1px solid #dcdadb;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: scaleX(0.5);
  }
  .btn-group button:after {
    left: 0;
    right: 0;
    height: 0;
    border-top: 1px solid #dcdadb;
    top: 0;
    -webkit-transform: scaleY(0.5);
  }
  .btn-group button:last-child:before {
    border-right: 0;
  }

  .btn,
  .btn-lg,
  .btn-s,
  .btn:disabled,
  .btn-lg:disabled,
  .btn-s:disabled {
    border: 0;
  }

  .btn:before,
  .btn-lg:before,
  .btn-s:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fa7829;
    border-radius: 8px;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
  }

  .btn-lg:before {
    border-radius: 12px;
  }

  /*.btn.active,
  .btn-lg.active,
  .btn-s.active {
    border: 0;
    color: #777;
    &:before {
      border-color: #dcdadb;
    }
  }*/
  .btn.disabled,
  .btn-lg.disabled,
  .btn-s.disabled {
    border: 0;
  }
  .btn.disabled:before,
  .btn-lg.disabled:before,
  .btn-s.disabled:before {
    border-color: #dcdadb;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 0;
  }
}
@-webkit-keyframes rotate2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -444px 0;
  }
}
@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.list {
  background-color: #fff;
}
.list li {
  display: -webkit-box;
  margin-left: 15px;
}
.list > li.border-t:first-child {
  border: 0;
  background-image: none;
}
.list > li.border-b:last-child {
  border: 0;
  background-image: none;
}
.list .list-img {
  width: 100px;
  height: 68px;
  margin-right: 10px;
  position: relative;
}
.list .list-img span {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-background-size: 100% 100%;
}
.list .list-info {
  padding-right: 20px;
  display: -webkit-box;
  box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

.list-text li {
  line-height: 20px;
  padding: 12px 25px 12px 0;
}

.group-b {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: -webkit-box;
  z-index: 3;
}

.block-img {
  position: relative;
}
.block-img .img-s {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-background-size: 100% 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: -webkit-box;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  color: #000;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.modal.show {
  display: -webkit-box;
}
.modal .modal-cnt {
  border-radius: 6px;
  width: 270px;
  outline: 0;
  pointer-events: auto;
  background-color: rgba(253, 253, 253, 0.95);
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.modal .modal-bd {
  min-height: 60px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 18px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.modal .modal-bd .tit {
  color: #50484b;
  font-size: 16px;
}
.modal .modal-bd .con {
  color: #888;
  font-size: 14px;
  padding-top: 6px;
}
.modal .modal-ft {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.modal .modal-ft button {
  height: 45px;
  line-height: 45px;
  background-color: transparent;
}

.modal-notice {
  background: transparent;
}
.modal-notice .modal-cnt {
  width: 130px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 6px;
  color: #fff;
}

.loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px;
}
.loading-wrap .ui-loading {
  margin: 10px;
}

.loading {
  width: 20px;
  height: 20px;
  display: block;
  background: url(//gtms01.alicdn.com/tps/i1/TB1rC_3IXXXXXacXXXXVWZVUXXX-480-40.png);
  -webkit-background-size: auto 20px;
}

.loading-bright {
  width: 37px;
  height: 37px;
  display: block;
  background-image: url(//gtms04.alicdn.com/tps/i4/TB1hOPyIXXXXXb6XVXX3HBoFVXX-888-74.png);
  -webkit-background-size: auto 37px;
}

.loading {
  -webkit-animation: rotate 1s steps(12) infinite;
}

.loading-bright {
  -webkit-animation: rotate2 1s steps(12) infinite;
}

.icon-refresh.loading {
  -webkit-animation: rotate3 1s infinite linear;
}

.block-img {
  position: relative;
}
.block-img .span-img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  position: absolute;
  z-index: 1;
  -webkit-background-size: 100% 100%;
}

/**
 * 辅助功能类
 */
.txt-default {
  color: #000;
}

.txt-info {
  color: #808080;
}

.txt-muted {
  color: #a6a6a6;
}

.txt-warning {
  color: #fc4226;
}

/* 同em */
.txt-highlight {
  color: #f28c48;
}

.affix {
  position: fixed;
}

/**
 * 垂直上下居中
 */
.center {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
}

/**
* 红点提醒
*/
.reddot, .reddot-border, .reddot-s {
  position: relative;
  display: inline-block;
  line-height: 22px;
  padding: 0 6px;
}
.reddot:after, .reddot-border:after, .reddot-s:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #f76249;
  border-radius: 5px;
  right: -3px;
  top: -3px;
  background-clip: padding-box;
}

/* 带白边的 */
.reddot-border:before {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 5px;
  right: -4px;
  top: -4px;
  background-clip: padding-box;
  padding: 1px;
}

/* 小号的 */
.reddot-s:after {
  width: 6px;
  height: 6px;
  top: -5px;
  right: -5px;
}

/**
 * 未读数通知
 */
.badge, .badge-muted, .badge-corner, .badge-cornernum {
  display: inline-block;
  text-align: center;
  background: #f74c31;
  color: #fff;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 8px;
  padding: 0 6px;
  background-clip: padding-box;
}

/* 浅色的 */
.badge-muted {
  background: #b6cae0;
}

.badge-wrap {
  position: relative;
  text-align: center;
}

.badge-corner {
  position: absolute;
  border: 2px #fff solid;
  height: 20px;
  line-height: 20px;
  top: -4px;
  right: -9px;
}

.badge-cornernum {
  position: absolute;
  top: -4px;
  right: -9px;
  height: 19px;
  line-height: 19px;
  font-size: 12px;
  min-width: 19px;
  -webkit-border-radius: 10px;
  top: -5px;
  right: -5px;
}

.nowrap {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nowrap-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

html {
  font-size: 100px;
}

body {
  background-color: #141414;
  color: #333;
  font-size: 0.12rem;
}

.block-img {
  margin: 0 auto;
}

.banner-iron {
  width: 3.2rem;
  padding-top: 61.40625%;
}

.content-iron {
  width: 3.2rem;
  padding-top: 100%;
}

.fundus {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/iron/bg@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1rem 0 0 -1rem;
}

.wrap {
  display: none;
}

#iron {
  width: 1.76rem;
  height: 1.76rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -.88rem 0 0 -.88rem;
  cursor: url(../img/iron/cursor@2x.png), auto;
}
