.btn {
  display: inline-block;
  zoom: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none; }

.btn-inverse {
  background-color: transparent;
  border: 1px solid red;
  padding: .06rem .11rem;
  border-radius: .15rem; }

.btn-star {
  background: url(../img/poto/btn-star.png);
  background-size: 101%;
  position: absolute;
  width: .2rem;
  height: .2rem;
  left: 63%;
  top: -10%; }

.btn-blue {
  background-color: #1298F2;
  color: white;
  padding: .06rem .23rem;
  line-height: .2rem; }
  .btn-blue:hover {
    color: #1F1D00; }

.btn-start {
  position: absolute;
  top: 2.45rem;
  left: 54.5%;
  border-radius: 50%;
  height: .7rem;
  width: .7rem;
  background-color: #212C5F;
  border: .03rem solid #246ED6;
  font-size: .12rem;
  text-align: center;
  opacity: 0; }

.btn-invite {
  height: .38rem;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  text-indent: -9999px; }

.btn-yellow {
  background-color: yellow;
  color: #0094F8;
  font-size: .16rem;
  padding: .07rem .2rem;
  margin-top: .2rem; }
  .btn-yellow:hover {
    color: #1F1D00; }

.btn-pop {
  background-color: #FFC900;
  color: #1F1D00;
  padding: .1rem .4rem;
  border: none;
  border-radius: .36rem; }

.btn-fo {
  width: 100%;
  border: 1px solid #382821;
  padding: .06rem .12rem;
  background-color: transparent;
  border-radius: .04rem; }
